<div class="gallery__item category2">
                                    <div class="gallery__item__img">
                                        <img src="/media/img/clubGallery/clubGallery2.jpg" alt="gc">
                                        <a class="hover-link-g mfp-gallery"
                                           href="/media/img/clubGallery/clubGallery2.jpg">
                                            <div class="inside">
                                                <i class="icon-cross"></i>
                                                <p>We have a senior mens club entered into in the Senior competition of
                                                    the competition.</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="gallery__item category1">
                                    <div class="gallery__item__img">
                                        <img src="/media/img/clubGallery/clubGallery3.jpg" alt="gc">
                                        <a class="hover-link-g mfp-gallery"
                                           href="/media/img/clubGallery/clubGallery3.jpg">
                                            <div class="inside">
                                                <i class="icon-cross"></i>
                                                <p>We have a senior mens club entered into in the Senior competition of
                                                    the competition.</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="gallery__item category3">
                                    <div class="gallery__item__img">
                                        <img src="/media/img/clubGallery/clubGallery4.jpg" alt="gc">
                                        <a class="hover-link-g mfp-gallery"
                                           href="/media/img/clubGallery/clubGallery4.jpg">
                                            <div class="inside">
                                                <i class="icon-cross"></i>
                                                <p>We have a senior mens club entered into in the Senior competition of
                                                    the competition.</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="gallery__item category1">
                                    <div class="gallery__item__img">
                                        <img src="/media/img/clubGallery/clubGallery5.jpg" alt="gc">
                                        <a class="hover-link-g mfp-gallery"
                                           href="/media/img/clubGallery/clubGallery5.jpg">
                                            <div class="inside">
                                                <i class="icon-cross"></i>
                                                <p>We have a senior mens club entered into in the Senior competition of
                                                    the competition.</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="gallery__item category4">
                                    <div class="gallery__item__img">
                                        <img src="/media/img/clubGallery/clubGallery6.jpg" alt="gc">
                                        <a class="hover-link-g mfp-gallery"
                                           href="/media/img/clubGallery/clubGallery6.jpg">
                                            <div class="inside">
                                                <i class="icon-cross"></i>
                                                <p>We have a senior mens club entered into in the Senior competition of
                                                    the competition.</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>