<footer class="page-footer t-white">
    <div class="footer-wrap">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-6 padding-null">
                    <div class="map-wrap">
                        <a target="_blank" href="https://www.google.com.ua/maps/@42.2651834,-83.74715,16z?hl=en">
                            <div id="map"><i class="icon-map-marker-point"></i></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 padding-null">
                    <div class="content-wrap-footer">
                        <div class="content-footer">

                            <div class="logo-footer">
                                <a href="{% url "home" %}">
                                    <img class="responsive-img" src="/media/img/logo.png" alt="logo">
                                </a>
                            </div>

                            <div class="b-contacts-wrap clearfix">

                                <div class="b-inner1">
                                    <p class="orange-text">American Football Club</p>
                                    <p>154 Bloomfield Way, Liberty, </p>
                                    <p>ME 04949</p>
                                    <a href="contacts.html" class="email-link">Info@youremail.com</a>
                                </div>

                                <div class="b-inner2">
                                    <p>Call us:</p>
                                    <p class="number">1-800-1234567</p>
                                </div>

                            </div>

                            <div class="copyright">
                                <p>© 2017 | Privacy Policy</p>
                            </div>

                        </div>    <!-- End content-footer -->
                    </div><!-- End content-wrap-footer -->
                </div><!-- End col-md-6 -->

            </div> <!-- End Row -->
        </div> <!-- End Container -->
    </div> <!-- End footer-wrap -->
</footer>