<!DOCTYPE html>
<html class="no-js" lang="en">

{% include "blocks/head.html" %}

<body class="Pages">
<!-- preloader -->
<div class="pl">
    <div class="round1 anti"></div>
    <div class="pl_r"></div>
    <div class="pl_l"></div>
</div>


<div class="wrapper">

    {% include "blocks/header.html" %}

    {% block content %}{% endblock %}

    <!-- Start Page-Footer -->
    {% include "blocks/footer.html" %}

</div> <!-- End Wrapper -->

<div class="hidden"></div>


{% include "blocks/js.html" %}

</body>
</html>