{% extends "app/inner/inner.html" %}
{% block content %}
    <!-- Start Page-Content -->
    <section id="page-content">

        <!-- Start Breadcrumbs -->
        <div class="breadcrumbs">
            <ul class="breadcrumb t-center">
                <li><a href="{% url "home" %}">home</a></li>
                <li class="active">partners</li>
            </ul>
        </div> <!-- End Breadcrumbs -->

        <!-- Start Partners-page-block -->
        <div class="partners-page-block">
            <div class="container">
                <div class="row">

                    <div class="text-wrap t-center">
                        <h2><span class="orange-text">Our </span>General Sponsors</h2>
                        <h4>Partnerships are good engines for narrative</h4>
                    </div>

                    <div class="sponsors-block t-center clearfix">
                        <div class="col-md-12">
                            <div class="carousel-wrap-sponsors owl-carousel owl-theme">
                                {% for partner in general_partners %}
                                    <div class="carousel-item-sponsor">

                                        <div class="car-img-wrap">
                                            <img class="img-sponsor1" src="{{ partner.image.url }}"
                                                 alt="sponsor">
                                        </div>

                                        <div class="car-text-wrap">
                                            <p>{{ partner.history }} </p>
                                        </div>

                                        <div class="car-btn-wrap">
                                            <a href="#" class="btn btn-link-w">
                                                <span>visit our sponsor</span>
                                            </a>
                                        </div>

                                    </div> <!-- End carousel-item-sponsor -->
                                {% endfor %}

                            </div> <!-- End carousel-wrap-sponsors -->
                        </div>


                        <div class="col-md-12 padding-null clarfix">
                            <div class="block-wrap-sponsor">
                                <a href="#">WANT TO SPONSOR US?</a>
                            </div>
                        </div>

                    </div> <!-- End Sponsors-block -->

                    <!-- Start Meet-partners-block -->
                    <div class="meet-partners-block clearfix">

                        <div class="text-wrap t-center">
                            <h2><span class="orange-text">Meet </span>Our Partners</h2>
                            <h4>Our best friends ever</h4>
                        </div>

                        <div class="all-partners-block-wrap">
                            {% for partner in all_partners %}
                                <div class="col-md-4 col-sm-6">
                                <a href="#">
                                    <div class="img-wrap-partner">
                                        <img src="{{partner.image.url}}" alt="partner">
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div> <!-- End Meet-partners-block -->

                </div> <!-- End Row -->
            </div> <!-- End Container -->
        </div> <!-- End Partners-page-block -->

    </section> <!-- End Page-->
{% endblock %}



